* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 12px/1.5 Helvetica, Microsoft YaHei, sans-serif; 
}

.clearfix { zoom: 1; }
.clearfix:after { clear: both; }
.clearfix:before, .clearfix:after { content: ""; display: table; }

#container {
    width: 1002px;
    margin: 0 auto;
    border: 1px solid #DDD;
    background: #E4E4E4;
}

#header {
    height: 115px;
}

#header a {
    cursor: default;
    margin-left: 180px;
}

#header a img {
    border: 0;
    vertical-align: middle;
}

#header .title {
    font-size: 18px;
    color: #666666;
    float: right;
    margin-right: 185px;
    margin-top: 80px;
}

.blank {
    height: 26px;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #ffffff;
}

.main {
    padding: 16px 20px;
    zoom: 1;
}

.main:after {
    display: block;
    clear: both;
    content: 'clear';
    line-height: 0;
    visibility: hidden;
}

h2 {
    color: #333;
    margin-bottom: 8px;
}

select {
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.person-container {
    margin: 45px 5px;
    margin-left: -11px;
}

.signal-person {
    width: 163px;
    float: left;
    margin-left: 28px;
}

.signal-person img {
    width: 163px;
    height: 176px;
}

p {
    text-align: center;
    color: #333;
}

p.name {
    margin-top: 15px;
}

p.position {
    margin-top: 10px;
}
p.supports {
    margin-top: 18px;
    color: #666;
}
.give-sug {
    width: 100px;
    height: 25px;
    margin: 0 auto;
    border: 1px solid rgb(122, 122, 122);
    margin-top: 28px;
    background: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
}

.leave-a-advice {
    margin-top: 10px;
    font-size: 14px;
}

input, textarea {
    display: block;
    margin-top: 20px;
    color: #333;
}

input {
    width: 180px;
    height: 25px;
    margin-right: 25px;
}

textarea {
    width: 100%;
    height: 170px;
}

#send {
    width: 135px;
    height: 35px;
    cursor: pointer;
    float: right;
}

.mention {
    color: rgb(102, 51, 51);
}

#footer {
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
